.history-container {
  height: 100%;
  background-color: #404040;
  --border-width-top: 1;
  --border-color-top: black;
  --border-width-left: 1;
  --border-color-left: black;
  --border-width-bottom: 1;
  --border-color-bottom: #747474;
  --border-width-right: 1;
  --border-color-right: #747474;
}

.history-list {
  height: 260px;
  width: 465px;
}

.history-footer {
  width: 465px;
  display: inline;
  background-color: #363636;
  background-color: red;
  height: 32px;
  align-items: center;
}

.history-page-label {
  padding-top: 5px;
}

.history-table {
  width: 100%;
  text-align: left;
  height: 100%;
  overflow-x: scroll;
}

.history-table tr {
  /* border: 2px #ffffff; */
}

.history-table tbody tr:nth-child(odd) {
  background-color: #484848;
  color: white; /* para contraste */
}

/* Linhas pares */
.history-table tbody tr:nth-child(even) {
  background-color: #414141;
  color: white;
}
