.history-container {
  height: 100%;
  background-color: #404040;
  --border-width-top: 1;
  --border-color-top: black;
  --border-width-left: 1;
  --border-color-left: black;
  --border-width-bottom: 1;
  --border-color-bottom: #747474;
  --border-width-right: 1;
  --border-color-right: #747474;
  display: block;
  width: 465px;
}

.history-list {
  height: 260px;
  width: 100%;
  display: block;
}

.history-footer {
  background-color: #363636;
  height: 36px;
  align-items: center;
  margin-top: 16px;
  position: relative;
  width: 465px;
}

.history-footer-previous {
  position: absolute;
  left: 0px;
  top: 6px;
}

.history-footer-next {
  position: absolute;
  right: 0px;
  top: 6px;
}

.history-page-label {
  text-align: center;
  align-items: center;
}

.history-table {
  width: 100%;
  text-align: left;
  height: 100%;
}

.history-table tbody tr:nth-child(odd) {
  background-color: #484848;
  color: white; /* para contraste */
}

/* Linhas pares */
.history-table tbody tr:nth-child(even) {
  background-color: #414141;
  color: white;
}
