.questLog-window {
  width: 790;
  height: 639;
  font: verdana-11px-antialised;
  opacity: 1;
  display: block;
  color: #929292
}

.content-left {
  width: 367;
  height: 551;
  margin-left: 5;
}

.content-right {
  width: 375;
  height: 551;
  background-color: #404040;
  margin-bottom: 10;
  margin-left: 395;
  display: block;
}

.search-box {
  width: 270;
}

.filter {
  height: 40;
  margin-left: 5;
}

.checkbox-group {
  display: flex;
  white-space: pre;
  text-offset: 18 -3;

}

.questLogButton {
  font: cipsoftFont;
  text-auto-resize: true;
}

.separator {
  display: block;
  margin-top: 5;
  margin-left: 5;
  width: 99%;
}

.quest-list {
  border-width: 1;
  border-color: #00000077;
  height: 425;
  background-color: #404040;
}

.quest-info {
  margin-top: 5;
  background-color: #363636;
  height: 300;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
  margin-left: 12;
}
.buttons {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  padding: 0 6px;
}

#trackerButton {
  float: right;
  margin-right: 2;
}

#closeButton {
  float: left;
}

#ScrollAreaQuestList {
  height: 200px;
}
  
#checkboxShowInQuestTracker {
  margin-top: 5px;
}
  
.table-window {
  width: 100%;
  height: 120;
  font: verdana-11px-antialised;
  color: #c0c0c0;
}
  
.filter-table {
  width: 100%;
  border-collapse: collapse;
}
  
.filter-table td {
  padding: 4;
  height: 22;
  vertical-align: middle;
}
  
.filter-table .col1 {
  width: 60%;
  text-align: left;
} 
  
.filter-table .col2 {
  width: 30%;
  text-align: right;
  --text-offset: 0 -5;
}
  
.filter-table .col3 {
  width: 10%;
  text-align: right;
  --text-offset: 0 -5;
}