.questLog-window {
  position: relative;
  width: 790px;
  height: 619px;
  font: verdana-11px-antialised;
  display: block;
  color: #929292
}

.content-left {
  width: 367px;
  height: 563px;
  margin-left: 5px;
}

.content-right {
  width: 375px;
  height: 563px;
  background-color: #404040;
  margin-bottom: 10px;
  margin-left: 395px;
  display: block;
}

.search-box {
  width: 270px;
}

.filter {
  height: 40px;
  margin-left: 5px;
}

.checkbox-group {
  white-space: pre;
  --text-offset: 18 -3;

}

.questLogButton {
  font: cipsoftFont;
  --text-auto-resize: true;
}

.separator {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  width: 99%;
  height: 2px;
}

.quest-list {
  border-width: 1;
  border-color: #00000077;
  height: 425px;
  background-color: #404040;
}

.quest-info {
  margin-top: 5px;
  background-color: #363636;
  height: 300px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
  margin-left: 12px;
}
.buttons {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  padding: 0 6px;
}

#trackerButton {
  float: right;
  margin-right: 2px;
  width: 85px;
}

#closeButton {
  float: left;
  width: 25px;
  --text-auto-resize: false;
}

#ScrollAreaQuestList {
  height: 200px;
}
  
#checkboxShowInQuestTracker {
  margin-top: 5px;
}
  
.table-window {
  width: 100%;
  height: 120px;
  font: verdana-11px-antialised;
  color: #c0c0c0;
}
  
.filter-table {
  width: 100%;
  border-collapse: collapse;
}

.filter-table td {
  padding: 4px;
  height: 22px;
}

.filter-table .col1 {
  width: 60%;
  text-align: left;
}

.filter-table .col2 {
  width: 30%;
  text-align: right;
}

.filter-table .col3 {
  width: 10%;
  text-align: right;
}