br {
    display: block;
    height: 15;
}

div {
    display: block;
}

pre {
    display: block;
    white-space: pre;
    margin: 16 0;
}

hr {
    display: block;
    height: 1;
    margin-top: 8;
    margin-bottom: 8;
}

input[type=password] {
    text-hidden: true;
}

label {
    text-auto-resize: true
}

textarea {
    white-space: pre;
    width: 128;
    height: 128;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-top: 11;
    margin-bottom: 11;
    margin-left: 0;
    margin-right: 0;
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
    font: terminus-14px-bold;
}

h1,
h1 * {
    font-scale: 2.0;
}

h2,
h2 * {
    font-scale: 1.5;
}

h3,
h3 * {
    font-scale: 1;
}

h4,
h4 * {
    font-scale: 0.8;
}

h5,
h5 * {
    font-scale: 0.5;
}

h6,
h6 * {
    font-scale: 0.3;
}