.reward-wall-window {
  width: 541;
  height: 525;
  font: verdana-11px-antialised;
  opacity: 1;
  display: block;
  color: #929292;
}

.history-panel {
  height: 443;
  visible: false;
}

.history-list {
  background-color: #363636;
  display: block;
  border-color: #00000077;
  border-width: 1;
  focusable: false;
}

.content-panel {
  width: 506;
  height: 126;
  margin-left: 5;
  margin-top: -5;
  focusable: false;
}

.resting-area-info {
  margin-left: -10;
  height: 108;
  width: 108;
  focusable: false;
}

.resting-area-icon {
  margin-left: 44;
  image-size: 66 44;
  image-fixed-ratio: true;
  text-offset: 0 -2;
}

.resting-area-time {
  size: 22 20;
  text-align: center;
  margin-left: 30;
  image-border: 3;
  image-source: /images/ui/test/button-verydarkgrey-down;
}

.resting-area-gold {
  size: 22 20;
  margin-left: 27;
}

.bonus-icons-container {
  margin-left: 90;
  border-color: #00000077;
  height: 71;
  width: 390;
  background-color: #404040;
  focusable: false;
}


.premium-message {
  text-align: center;
  text-wrap: true;
  white-space: normal;
  border-color: #00000077;
  height: 38;
  width: 370;
  margin-top: 70;
  margin-left: 110;
}

.daily-rewards-panel {
  height: 133;
}

.reward-item {
  size: 68 95;
  margin-top: -9;
  focusable: false;
}

.reward-button {
  size: 68 68;
}

.reward-label {
  size: 68 22;
  focusable: false;
}

.reward-arrow {
  image-offset: 1 25;
  image-clip: 0 0 5 7;
  size: 5 7;
  image-auto-resize: false;
  image-size: 5 7;
}

.reward-arrow-loop {
  image-offset: -466 90;
  image-size: 435 13;
}

.premium-panel {
  height: 55;
  width: 22;
}

.info-label {
  text-align: center;
  text-wrap: true;
  white-space: normal;
  border-color: #00000077;
}

.premium-info2 {
  height: 38;
  width: 350;
  margin-left: -0
}

.premium-button {
  float: right;
}

.infoPanel {
  height: 104;
  text-align: left
}


.free-info {
  text-align: top-left;
  text-wrap: true;
  width: 255;
  color: #808080;
}

.premium-info {
  margin-left: 58;
  text-align: top-left;
  text-wrap: true;
  width: 255;
}

.footer-panel {
  width: 506;
  height: 126;
  margin-left: 5;
  margin-top: -5;
  focusable: false;
}

.footer-separator {
  width: 506;
}

.footer-gold-1 {
  width: 30;
  height: 22;
  margin-top: 10;
}

.footer-gold-2 {
  height: 22;
  width: 50;
  margin-left: 5;
  margin-top: 10;
}

.instant-reward-button {
  margin-top: 10;
  margin-left: 5;
}

.action-button {
  font: cipsoftFont;
  text-auto-resize: true;
}

.history-button {
  float: right;
  margin-right: 44;
}

.close-button {
  margin-left: 5;
}
/* not work 
#footerGold2 #gold {
  image-source: /game_rewardwall/images/instant-reward-access-icon;
  image-size: 12 12;
  image-offset: -5 0;
}

.footer-gold-2 #gold {
  image-source: /game_rewardwall/images/instant-reward-access-icon;
  image-size: 12 12;
  image-offset: -5 0;
}
  */